$favourite-pink: rgb(237, 33, 124);

.black-nav {
    ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
      justify-content: center;
      
      
    }
  
    li {
      border: 2px solid #000;
      padding: 10px;
      flex-grow: 1;
      text-align: center;
    }
  
    li a {
      color: #000;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      /* padding: 10px; */
      text-decoration: none;
      /* display: inline-block; */
    }
  
    #logo-box {
      flex-grow: 2;
    }
  
    /* Change the link color to #111 (black) on hover */
    li:hover {
      background-color: #ed217c;
    }
}
  #image-container {
      display: flex;
    //   align-items: center;
    align-items: flex-start;
      flex-wrap: wrap;
      justify-content: space-around;
      
  }

  h1 {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 30px;
      color: $favourite-pink;
      text-align: center
  }

  img {
    height: 200px;
    width: 200px;  
    margin: 20px;
    padding: 10px;
    z-index: 0;
  }

    .blog-image {
      border-style: solid;
      border-color: #000;
      border-width: 2px;
      padding: 10px;
      margin: 20px;
      position: relative;
      width: 250px;
      background-color: white;

      .dot {
        position: relative;
        left: 45%;
        height: 50px;
        width: 50px;
        background-color: $favourite-pink;
        border-radius: 50%;
        display: inline-block;
        top: -60px;
        margin-left: auto;
        margin-right: auto;
        z-index: 2;
        padding: 0;
    
      }
      

      p {
      font-family: Arial, Helvetica, sans-serif;
      max-width: 250px;
      text-align: center;
      margin-top: 0;
      
      }
      

    }

    body {
        background-color: #b9e3c6;
        
      }


    

  