$header-colour: #AA1155;
$hover-colour: #85b79d;
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $header-colour;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 15px 114.8px;
    text-decoration: none;
    border: 1px solid #000;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color:$hover-colour;

  }