$favourite-pink: rgb(237, 33, 124);


body, html {
  height: 100%;
  margin: 0;
}

#background {
  /* The image used */
  background-image: url('./background image.jpg');

  /* Full height */
  height: 100%;
  margin: -5;
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
  
}

.white-nav {
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    
    
  }

  li {
    border: 2px solid white;
    padding: 10px;
    flex-grow: 1;
    text-align: center;
  }

  li a {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

  }

  #logo-box {
    flex-grow: 2;
  }

  /* Change the link color to #favourite-pink on hover */
  li:hover {
    background-color: $favourite-pink;
  }
}

// #wordart {
  #wordart {
  position: relative;
  font-family: 'Times New Roman', Times, serif;
  color: $favourite-pink;



#C {
  // font-family: 'Times New Roman', Times, serif;
  position: absolute;
  left: 40px;
  top: 100px;
  font-size: 50px;
  
}

#A {
  position: absolute;
  font-size: 50px;
  flex-basis: 25px;
  align-self: baseline;
}

#T {
  flex-basis: 50px;
  align-self: flex-end;
}
}
#homepage-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
      
  
  .hp-section1 {
    flex-basis: 50%;
    height: 300px;
    flex-grow: 1;
    background-color:  #f3db53;
  }

  .hp-section2 {
    flex-basis: 50%;
    height: 300px;
    flex-grow: 1;
    background-color: #fff;
  }

}