$favourite-pink: rgb(237, 33, 124);


body, html {
  height: 100%;
  margin: 0;
}

#background {
  /* The image used */
  background-image: url('./background image.jpg');

  /* Full height */
  height: 100%;
  margin: -5;
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
  
}

.white-nav {
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    
    
  }

  li {
    border: 2px solid white;
    padding: 10px;
    flex-grow: 1;
    text-align: center;
  }

  li a {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

  }

  #logo-box {
    flex-grow: 2;
  }

  /* Change the link color to #favourite-pink on hover */
  li:hover {
    background-color: $favourite-pink;
  }
}

// #wordart {
  #wordart {
  text-align: center;
  height: 50%;
  font-family: 'Times New Roman', Times, serif;
  color: $favourite-pink;
  font-size: 100px;
  



#C {
  // font-family: 'Times New Roman', Times, serif;
 display: inline-block;

 
  
}

// #A {
//   position: relative;
//   top: -150px;
//   left: 180px;
//   font-size: 100px;
  
// }

// #T {
//   position: relative;
//   top: -300px;
//   left: 220px;
//   font-size: 90px;

// }
}
#homepage-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
      
  
  .hp-section1 {
    flex-basis: 50%;
    height: 300px;
    flex-grow: 1;
    background-color:  #f3db53;
  }

  .hp-section2 {
    flex-basis: 50%;
    height: 300px;
    flex-grow: 1;
    background-color: #fff;
  }

}