#wordart2 {
font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    animation: 4s fadeIn;
    animation-fill-mode: forwards;

    visibility: hidden;
}

#wordart3 {
    font-size: 30px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        animation: 6s fadeIn;
        animation-fill-mode: forwards;
    
        visibility: hidden;
    }
    #wordart4 {
        font-size: 30px;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            animation: 8s fadeIn;
            animation-fill-mode: forwards;
        
            visibility: hidden;
        }
@keyframes fadeIn {
        99% {
            visibility: hidden;
        }
        100% {
            visibility: visible;
        }
    }
        #S {
            display: inline-block;
        }