body, html {
  height: 100%;
  margin: 0;
}

#background {
  /* The image used */
  background-image: url("./background image.jpg");
  /* Full height */
  height: 100%;
  margin: -5;
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
}

.white-nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.white-nav li {
  border: 2px solid #fff;
  padding: 10px;
  flex-grow: 1;
  text-align: center;
}
.white-nav li a {
  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  /* padding: 10px; */
  text-decoration: none;
  /* display: inline-block; */
}
.white-nav #logo-box {
  flex-grow: 2;
  font-family: cursive;
}

/* Change the link color to #favourite-pink on hover */
li:hover {
  background-color: #ed217c;
}

@keyframes wordart {
  0% {
    color: #ed217c;
  }
  25% {
    color: #f3db53;
  }
  50% {
    color: #68bfae;
  }
  100% {
    color: #95d2d7;
  }
}
#wordart {
  text-align: center;
  height: 50%;
  font-family: "Times New Roman", Times, serif;
  color: #ed217c;
  animation-name: wordart;
  animation-duration: 4s;
  animation-iteration-count: 4;
  font-size: 100px;
}
#wordart #C {
  display: inline-block;
}
@keyframes wordart2 {
  0% {
    visibility: hidden;
  }
  25% {
    color: #ed217c;
  }
  50% {
    color: #f3db53;
  }
  75% {
    color: #68bfae;
  }
  100% {
    color: #95d2d7;
  }
}

#wordart2 {
  text-align: center;
  height: 50%;
  line-height: 1px;
  font-family: "Times New Roman", Times, serif;
  color: #ed217c;
  animation-name: wordart;
  animation-duration: 4s;
  animation-iteration-count: 4;
  animation-delay: 5s;
  font-size: 100px;
}
#wordart2 #S {
  display: inline-block;
}

#homepage-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#homepage-section .hp-section1 {
  flex-basis: 50%;
  height: 300px;
  flex-grow: 1;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 20px;
  padding: 60px 40px 0px 30px;
  background-color: #f3db53;
}
#homepage-section .hp-section2 {
  flex-basis: 100%;
  height: 100px;
  padding: 0 0 0 30px;
  flex-grow: 1;
  font-family: arial;
  font-size: 30px;
  background-color: #fff;
  justify-content: flex-end;
}
#homepage-section .hp-section2 .skills {
  height: 200px;
  width: 200px;
  padding: 10px 35px 10px 35px;
}

.black-nav {
  /* Change the link color to #111 (black) on hover */
}
.black-nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.black-nav li {
  border: 2px solid #000;
  padding: 10px;
  flex-grow: 1;
  text-align: center;
}
.black-nav li a {
  color: #000;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  /* padding: 10px; */
  text-decoration: none;
  /* display: inline-block; */
}
.black-nav #logo-box {
  flex-grow: 2;
}
.black-nav li:hover {
  background-color: #ed217c;
}

#image-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.pink-heading {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: #ed217c;
  text-align: center;
}

.blog-image {
  border-style: solid;
  border-color: #000;
  border-width: 2px;
  padding: 10px;
  margin: 20px;
  position: relative;
  width: 250px;
  background-color: white;
}
.blog-image img {
  height: 200px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  z-index: 0;
  border-style: solid;
  border-width: 0 0 2px 0;
}
.blog-image .dot {
  position: relative;
  left: 40%;
  height: 50px;
  width: 50px;
  background-color: #ed217c;
  border-radius: 50%;
  display: inline-block;
  top: -60px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  padding: 0;
}
.blog-image p {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 250px;
  text-align: center;
  margin-top: 0;
}

.main-heading {
  font-size: 40px;
  color: #ed217c;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.main-paragraph {
  font-size: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.portraits {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.portrait {
  border-style: solid;
  border-color: #000;
  border-width: 2px;
  padding: 10px;
  margin: 20px;
  position: relative;
  width: 200px;
  height: 200px;
  background-color: white;
  margin: 0;
}

#image-container2 {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pink-heading2 {
  font-family: arial;
  font-size: 30px;
  color: #ed217c;
  text-align: center;
}

img {
  height: 400px;
  width: 400px;
  margin: 20px;
  padding: 10px;
  z-index: 0;
}

.about-image {
  border-style: solid;
  border-color: #000;
  border-width: 2px;
  padding: 10px;
  margin: 20px;
  position: relative;
  width: 450px;
  background-color: white;
}
.about-image .dot2 {
  position: relative;
  left: 45%;
  height: 50px;
  width: 50px;
  background-color: #ed217c;
  border-radius: 50%;
  display: inline-block;
  top: -60px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  padding: 0;
}
.about-image .block-headings2 {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 400px;
  text-align: center;
  margin-top: 0;
}
.about-image .block-paragraphs2 {
  max-width: 425px;
  text-align: center;
}

.block-headings3 {
  text-align: center;
  margin: 0;
}

.dot3 {
  position: relative;
  left: 40%;
  height: 70px;
  width: 70px;
  background-color: #ed217c;
  border-radius: 50%;
  display: inline-block;
  top: -60px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  padding: 0;
}

/*# sourceMappingURL=styles.css.map */
